node_modules
node_modules/
logs
scripts
pure_node/test.js
assets
tmp
test.js
.idea/
.history
.vscode/
apidoc
pure_node/
.env.development
.env.test
.env.production
.env.staging
deploy.sh
deploy-test.sh
deploy-prod.sh
build-*.tar.gz
/utils/websocket.js
/public/frontend.js
test.js
*.dump
*.sql
*.sh